<section class="card">
  <a href="/project/{{id}}">
    <header>{{fund.name}}</header>

    <div class="card-body">
      <p>Money Collected: {{money.collected}}</p>
        <p>Fund Details: {{ fund.details}}</p>
    </div>
  </a>
</section>