<section class="project">
    <div class="project-details">
        <h3>{{fund.name}}</h3>
        <p>Money Collected: {{money.collected}}</p>
        <p>Fund Details: {{ fund.details}}</p>
    </div>
</section>